<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C93AE0001EDBD235005DF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93AE0191EDBD235005DF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93AE0241EDBD235005DF1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
